<h1 class="entry-title" itemprop="headline">An Overview of Spanish Tenses: What They Mean and When to Use Them</h1>

<div class="entry-content clear" itemprop="text">


  <p></p>
  <p>Want to condense an entire 3-4 years of Spanish classes at uni into just a few minutes? Here is your chance. Put in
    the hard work, concentrate on this lesson and you might just be surprised and how much you can learn on one single
    page. This post is an overview of everything you need to know about the Spanish tenses and their conjugations, from
    the most basic to the most advanced.</p>
  <p>If you’re not sure what these are, let’s just say Spanish tenses are really important. Something you really need to
    master if you want to someday be a proficient Spanish speaker. They are the building blocks you need to construct
    full sentences in any situation. So let’s dive in!</p>
  <h2>Present Spanish tenses</h2>
  <p>Present Spanish tenses will be used when you talk about current events, things that are happening now, or when you
    explain what you think or like.</p>
  <h3>Present simple tense</h3>
  <p>The Spanish present simple tense is generally formed when you want to talk about a habit or something that happens
    in general. For example “I eat rice every night” (<strong>Como</strong> arroz todas las noches) or “She believes
    no-one deserves to live this way” (Ella <strong>cree</strong> que nadie merece vivir así).</p>
  <p>The present tense is formed by changing the endings of the verb, which will be different depending if the verb ends
    in -ar, -er, or -ir.</p>
  <h3>Present simple Spanish tense regular verb chart:</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="156"></td>
        <td width="156"><strong>AR</strong></td>
        <td width="156"><strong>ER</strong></td>
        <td width="156"><strong>IR</strong></td>
      </tr>
      <tr>
        <td width="156">Example verb</td>
        <td width="156">hablar</td>
        <td width="156">comer</td>
        <td width="156">abrir</td>
      </tr>
      <tr>
        <td width="156">yo</td>
        <td width="156">(habl)o</td>
        <td width="156">(com)o</td>
        <td width="156">(abr)o</td>
      </tr>
      <tr>
        <td width="156">tú</td>
        <td width="156">(habl)as</td>
        <td width="156">(com)es</td>
        <td width="156">(abr)es</td>
      </tr>
      <tr>
        <td width="156">él/ella</td>
        <td width="156">(habl)a</td>
        <td width="156">(com)e</td>
        <td width="156">(abr)e</td>
      </tr>
      <tr>
        <td width="156">nosotros</td>
        <td width="156">(habl)amos</td>
        <td width="156">(com)emos</td>
        <td width="156">(abr)imos</td>
      </tr>
      <tr>
        <td width="156">vosotros</td>
        <td width="156">(habl)áis</td>
        <td width="156">(com)éis</td>
        <td width="156">(abr)ís</td>
      </tr>
      <tr>
        <td width="156">ellos/ellas</td>
        <td width="156">(habl)an</td>
        <td width="156">(com)en</td>
        <td width="156">(abr)en</td>
      </tr>
    </tbody>
  </table>
  <h2>Past Spanish tenses</h2>
  <p>The past tense is used when you want to talk about events that happened any time before the present moment, whether
    that be 2000 years ago, 5 months ago, yesterday, or 2 minutes ago.</p>
  <p>However, while in English we get by with only one, in Spanish there are two tenses which are used to express the
    past, and they have very different uses.</p>
  <h3>Past preterite tense</h3>
  <p>The past preterite is used when you want to talk about specific events that happened at a certain time in the past.
    For example, “I sold my house,” (<strong>Vendí</strong> mi casa) or “the little boy ate a worm” (El niño se
    <strong>comió</strong> un gusano).</p>
  <p>Like the present tense, the past preterite is formed by changing the endings of the verb, which will be different
    depending if the verb ends in -ar, -er, or -ir.</p>
  <h3>Past preterite Spanish tense regular verb chart</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="156"></td>
        <td width="156"><strong>AR</strong></td>
        <td width="156"><strong>ER</strong></td>
        <td width="156"><strong>IR</strong></td>
      </tr>
      <tr>
        <td width="156">Example verb</td>
        <td width="156">hablar</td>
        <td width="156">comer</td>
        <td width="156">abrir</td>
      </tr>
      <tr>
        <td width="156">yo</td>
        <td width="156">(habl)é</td>
        <td width="156">(com)í</td>
        <td width="156">(abr)í</td>
      </tr>
      <tr>
        <td width="156">tú</td>
        <td width="156">(habl)aste</td>
        <td width="156">(com)iste</td>
        <td width="156">(abr)iste</td>
      </tr>
      <tr>
        <td width="156">él/ella</td>
        <td width="156">(habl)ó</td>
        <td width="156">(com)ió</td>
        <td width="156">(abr)ió</td>
      </tr>
      <tr>
        <td width="156">nosotros</td>
        <td width="156">(habl)amos</td>
        <td width="156">(com)imos</td>
        <td width="156">(abr)imos</td>
      </tr>
      <tr>
        <td width="156">vosotros</td>
        <td width="156">(habl)asteis</td>
        <td width="156">(com)isteis</td>
        <td width="156">(abr)isteis</td>
      </tr>
      <tr>
        <td width="156">ellos/ellas</td>
        <td width="156">(habl)aron</td>
        <td width="156">(com)ieron</td>
        <td width="156">(abr)ieron</td>
      </tr>
    </tbody>
  </table>
  <h3>Past imperfect tense</h3>
  <p>The past imperfect tense is used for speaking about past habitual events, like “I used to eat cereal every day,”
    (Yo <strong>comía</strong> cereales todos los días) or to give background information or set a scene in the past,
    such as “The door was opening and closing” (La puerta se <strong>abría</strong> y se <strong>cerraba</strong>).</p>
  <p>In the imperfect tense, the regular -er and -ir endings are exactly the same, so there are only two distinctions.
  </p>
  <h3>Past imperfect Spanish tense regular verb chart</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="156"></td>
        <td width="156"><strong>AR</strong></td>
        <td width="156"><strong>ER/IR</strong></td>
      </tr>
      <tr>
        <td width="156">Example verb</td>
        <td width="156">hablar</td>
        <td width="156">comer</td>
      </tr>
      <tr>
        <td width="156">yo</td>
        <td width="156">(habl)aba</td>
        <td width="156">(com)ía</td>
      </tr>
      <tr>
        <td width="156">tú</td>
        <td width="156">(habl)abas</td>
        <td width="156">(com)ías</td>
      </tr>
      <tr>
        <td width="156">él/ella</td>
        <td width="156">(habl)aba</td>
        <td width="156">(com)ía</td>
      </tr>
      <tr>
        <td width="156">nosotros</td>
        <td width="156">(habl)ábamos</td>
        <td width="156">(com)íamos</td>
      </tr>
      <tr>
        <td width="156">vosotros</td>
        <td width="156">(habl)abais</td>
        <td width="156">(com)íais</td>
      </tr>
      <tr>
        <td width="156">ellos/ellas</td>
        <td width="156">(habl)aban</td>
        <td width="156">(com)ían</td>
      </tr>
    </tbody>
  </table>
  <p><strong>Note:</strong> In the past imperfect tense, it is customary to add the subject before the verb when talking
    in first and third person. Where with other Spanish tenses you can leave it out without adding any ambiguity, here
    the first person and third person formations are the same, so if you don’t specify which one you’re talking about it
    could lead to confusion.</p>
  <h2>Future Spanish tenses</h2>
  <p>The future tense is used to talk about events that <strong>will</strong> happen any time after the present moment.
    There are two ways to form this in Spanish, which is similar to how we talk about the future in English.</p>
  <h3>Future inflection</h3>
  <p>The future inflection is similar to using the world <strong>will</strong> in English. Instead of changing the
    endings of the verbs, the future tense takes the whole verb and adds to the end of it. This is therefore a lot
    easier to remember as there is only one conjugation for all types of verbs.</p>
  <h3>Spanish future inflection regular verb chart:</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="156"></td>
        <td width="156"><strong>AR/ER/IR</strong></td>
      </tr>
      <tr>
        <td width="156">Example verb</td>
        <td width="156">hablar</td>
      </tr>
      <tr>
        <td width="156">yo</td>
        <td width="156">(hablar)é</td>
      </tr>
      <tr>
        <td width="156">tú</td>
        <td width="156">(hablar)ás</td>
      </tr>
      <tr>
        <td width="156">él/ella</td>
        <td width="156">(hablar)á</td>
      </tr>
      <tr>
        <td width="156">nosotros</td>
        <td width="156">(hablar)emos</td>
      </tr>
      <tr>
        <td width="156">vosotros</td>
        <td width="156">(hablar)áis</td>
      </tr>
      <tr>
        <td width="156">ellos/ellas</td>
        <td width="156">(hablar)án</td>
      </tr>
    </tbody>
  </table>
  <h3>Future with “ir”</h3>
  <p>This is essentially the equivalent to the English “going to” do something. This is spoken about in a lot more
    detail in our post on <a href="https://www.clozemaster.com/blog/spanish-ir-conjugation/">the conjugation of the
      Spanish verb “ir”</a>.</p>
  <h3>Conditional future/past future</h3>
  <p>This is essentially the equivalent of the English “would” do something. This could be both in the case of a
    condition, such as “I would go if you wanted me to” (Yo iría si tú quisieras), or when referring to the future from
    a point in the past, like “She asked me if I would come back” (Ella me preguntó si yo volvería).</p>
  <p>Only in Spanish, instead of having a separate word to express this (as we do in English), this is shown by adding
    an inflection to the end of the verb, very similar to the future tense.</p>
  <h3>Spanish conditional inflection regular verb chart:</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="156"></td>
        <td width="156"><strong>AR/ER/IR</strong></td>
      </tr>
      <tr>
        <td width="156">Example verb</td>
        <td width="156">hablar</td>
      </tr>
      <tr>
        <td width="156">yo</td>
        <td width="156">(hablar)ía</td>
      </tr>
      <tr>
        <td width="156">tú</td>
        <td width="156">(hablar)ías</td>
      </tr>
      <tr>
        <td width="156">él/ella</td>
        <td width="156">(hablar)ía</td>
      </tr>
      <tr>
        <td width="156">nosotros</td>
        <td width="156">(hablar)íamos</td>
      </tr>
      <tr>
        <td width="156">vosotros</td>
        <td width="156">(hablar)íais</td>
      </tr>
      <tr>
        <td width="156">ellos/ellas</td>
        <td width="156">(hablar)ían</td>
      </tr>
    </tbody>
  </table>
  <p>The conditional tense, like the past imperfect, uses the exact same forms for the first and third person, so being
    clear with who you’re talking about is usually necessary.</p>
  <p>For a more in-depth guide to the future tense, check out <strong><a
        href="https://www.clozemaster.com/blog/future-tense-spanish/" target="_blank" rel="noopener">Clozemaster’s guide
        to the future tense in Spanish</a></strong>.</p>
  <h2>Spanish subjunctive mood</h2>
  <p>All the previous formations mentioned are in indicative mood, which is named as such because it is indicative of
    reality. The subjunctive, sometimes referred to as <em>irrealis</em> mood, is used when we talk about something
    which is uncertain, unknown, or something which is imposed on by something else. There is a whole list of uses for
    the subjunctive, but you’ll notice that they all follow this same basic notion of surrealism.</p>
  <h3>Present subjunctive</h3>
  <p>By far the most common form of subjunctive, the Spanish present subjunctive expresses the idea of uncertainty or
    unknown-ness in all present or future situations.</p>
  <p>Here are some examples. Note that the subjunctive verb almost always follows the connector ‘que’.</p>
  <ol>
    <li>When you&nbsp;<strong>don’t think</strong> something is true.</li>
  </ol>
  <p>E.g: I don’t think he’s drinking tonight. | No creo que él <strong>tome</strong> hoy.</p>
  <ol start="2">
    <li>When you hope something will happen.</li>
  </ol>
  <p>E.g: I hope he talks to me. | Espero que me <strong>hable</strong>.</p>
  <ol start="3">
    <li>When you talk about the moment something happens in the future.</li>
  </ol>
  <p>E.g: When I travel to Uruguay, I’m going to visit all the monuments in the country. | Cuando <strong>viaje</strong>
    a Uruguay, voy a conocer todos los monumentos del país.</p>
  <ol start="4">
    <li>When you don’t have a specific <strong>one </strong>in mind.</li>
  </ol>
  <p>E.g: Find a chair that can handle this weight. | Encuéntrame una silla que <strong>pueda</strong> aguantar este
    peso.</p>
  <ol start="5">
    <li>When it’s whatever.</li>
  </ol>
  <p>E.g: Do whatever you want. | Haz lo que tú <strong>quieras</strong>.</p>
  <ol start="6">
    <li>When you’re imposing something on somebody else.</li>
  </ol>
  <p>E.g: I want you to wash the dishes. | Quiero que <strong>laves</strong> los platos.</p>
  <ol start="7">
    <li>General well-wishing.</li>
  </ol>
  <p>E.g: Hope you find a new job soon! | ¡Que encuentres un nuevo trabajo pronto!</p>
  <p>(Note that here, you could add ‘espero’ but the sentence also works fine without it.)</p>
  <p>These are just the instances I could think of off the top of my head, but there are many more scenarios in which
    the present subjunctive could be used, so keep that in mind and do some more research if you really want to master
    the subjunctive.</p>
  <p>For the conjugation of the subjunctive, you’ll notice that the endings are almost opposites of the regular present
    tense endings.</p>
  <h3>Spanish present subjunctive regular verb chart:</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="156"></td>
        <td width="156"><strong>AR</strong></td>
        <td width="156"><strong>ER/IR</strong></td>
      </tr>
      <tr>
        <td width="156">Example verb</td>
        <td width="156">hablar</td>
        <td width="156">comer</td>
      </tr>
      <tr>
        <td width="156">yo</td>
        <td width="156">(habl)e</td>
        <td width="156">(com)a</td>
      </tr>
      <tr>
        <td width="156">tú</td>
        <td width="156">(habl)es</td>
        <td width="156">(com)as</td>
      </tr>
      <tr>
        <td width="156">él/ella</td>
        <td width="156">(habl)e</td>
        <td width="156">(com)a</td>
      </tr>
      <tr>
        <td width="156">nosotros</td>
        <td width="156">(habl)emos</td>
        <td width="156">(com)amos</td>
      </tr>
      <tr>
        <td width="156">vosotros</td>
        <td width="156">(habl)éis</td>
        <td width="156">(com)áis</td>
      </tr>
      <tr>
        <td width="156">ellos/ellas</td>
        <td width="156">(habl)en</td>
        <td width="156">(com)an</td>
      </tr>
    </tbody>
  </table>
  <p>Once again, be careful with the first and third person formations as they are identical. Make it clear who you are
    talking about.</p>
  <h2>Past subjunctive</h2>
  <p>The past subjunctive is basically used in the same way as the present one, but when you are talking about instances
    in the past. Taking some of the above examples, we can put them in the past tense and employ the past subjunctive
    instead.</p>
  <p><strong>For example:</strong></p>
  <p>If you want to say, “I hoped he would talk to me,”:</p>
  <p>Espero que él me <strong>hable</strong> → Yo esperaba que él me <strong>hablara</strong>.</p>
  <p>If you want to say, “I wanted you to wash the dishes,”:</p>
  <p>Quiero que <strong>laves</strong> los platos → Yo quería que <strong>lavaras</strong> los platos.</p>
  <p>At first glance, past subjunctive might seem like the most complicated Spanish tense, but it’s actually quite
    simple. To form the past subjunctive, you should take the third person plural form of the verb in past preterite,
    take away -on, and then add the same endings we see in the present subjunctive of ER/IR verbs. You’ll find that
    there are absolutely <strong>no exceptions </strong>to this rule – it even works with irregular verbs.</p>
  <p>Let’s take a look at how this plays out:</p>
  <h3>Spanish past subjunctive regular verb chart (version 1):</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="306"></td>
        <td width="162"><strong>AR</strong></td>
        <td width="114"><strong>ER/IR</strong></td>
      </tr>
      <tr>
        <td width="306">Example verb</td>
        <td width="162">hablar</td>
        <td width="114">comer</td>
      </tr>
      <tr>
        <td width="306">Past preterite third person plural form</td>
        <td width="162"><strong>hablar</strong>on</td>
        <td width="114"><strong>comier</strong>on</td>
      </tr>
      <tr>
        <td width="306">yo</td>
        <td width="162">(hablar)a</td>
        <td width="114">(comier)a</td>
      </tr>
      <tr>
        <td width="306">tú</td>
        <td width="162">(hablar)as</td>
        <td width="114">(comier)as</td>
      </tr>
      <tr>
        <td width="306">él/ella</td>
        <td width="162">(hablar)a</td>
        <td width="114">(comier)a</td>
      </tr>
      <tr>
        <td width="306">nosotros</td>
        <td width="162">(hablár)amos</td>
        <td width="114">(comiér)amos</td>
      </tr>
      <tr>
        <td width="306">vosotros</td>
        <td width="162">(hablar)eis</td>
        <td width="114">(comoer)ais</td>
      </tr>
      <tr>
        <td width="306">ellos/ellas</td>
        <td width="162">(hablar)an</td>
        <td width="114">(comier)an</td>
      </tr>
    </tbody>
  </table>
  <p>There are two ways to form the past subjunctive which are completely interchangeable. Which one is used generally
    just depends on the region. The other one is the same for all 3 verb endings, and looks like this:</p>
  <h3>Spanish past subjunctive regular verb chart (version 2):</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td width="306"></td>
        <td width="162"><strong>AR</strong></td>
      </tr>
      <tr>
        <td width="306">Example verb</td>
        <td width="162">hablar</td>
      </tr>
      <tr>
        <td width="306">Past preterite third person plural form</td>
        <td width="162"><strong>habla</strong>ron</td>
      </tr>
      <tr>
        <td width="306">yo</td>
        <td width="162">(habla)se</td>
      </tr>
      <tr>
        <td width="306">tú</td>
        <td width="162">(habla)ses</td>
      </tr>
      <tr>
        <td width="306">él/ella</td>
        <td width="162">(habla)se</td>
      </tr>
      <tr>
        <td width="306">nosotros</td>
        <td width="162">(hablá)semos</td>
      </tr>
      <tr>
        <td width="306">vosotros</td>
        <td width="162">(habla)seis</td>
      </tr>
      <tr>
        <td width="306">ellos/ellas</td>
        <td width="162">(habla)sen</td>
      </tr>
    </tbody>
  </table>
  <p>Still confused or need more help? You’re in luck! Check out <a
      href="https://www.clozemaster.com/blog/spanish-imperfect-subjunctive/" target="_blank"
      rel="noopener"><strong>Clozemaster’s detailed guide to the Spanish imperfect subjunctive</strong></a>.</p>
  <h2>Other useful Spanish grammatical tools</h2>
  <h3>Perfect aspect</h3>
  <p>This is where you talk about something that has/had/or will have been done. To be able to use the perfect aspect
    with ease, you must first master <a href="https://www.clozemaster.com/blog/spanish-haber-conjugation/"
      target="_blank" rel="noopener"><strong>the verb ‘haber’</strong></a>, and then see how the <a
      href="https://www.clozemaster.com/blog/past-participle-spanish/" target="_blank" rel="noopener"><strong>Spanish
        past participle</strong></a> is formed (and memorize those irregulars).</p>
  <h3>Progressive aspect</h3>
  <p>The Spanish progressive aspect is what we use when we talk about something in the process of happening. This is
    your English equivalent of the ‘-ing’ form. We go into a lot more detail on this in our post about the<strong> <a
        href="https://www.clozemaster.com/blog/present-progressive-spanish/" target="_blank" rel="noopener">Spanish
        present progressive aspect</a></strong>. Our post on<strong><a
        href="https://www.clozemaster.com/blog/estar-conjugation-in-spanish/" target="_blank" rel="noopener"> the
        conjugation of the verb ‘estar’</a></strong> will be very helpful to help you make more complex progressive
    constructions.</p>
  <h3>Conditional Spanish formations</h3>
  <p>A conditional sentence is basically a sentence that uses ‘if’ or an equivalent, to create a situation where one
    thing will happen dependent on another. This is a very important structure to know how to use, because what you will
    find is that you talk about imaginary scenarios more than you think!</p>
  <p>There are three different sentence structures to form conditionals. The good news is that, in this blog post,
    you’ve already learned all the Spanish conjugations you will need to form all three sentence types! The other good
    news is that we’ve already written up <strong><a href="https://www.clozemaster.com/blog/spanish-conditional-tense/"
        target="_blank" rel="noopener">an entire post dedicated to the Spanish conditional and how it is
        used</a></strong>. Check it out if you need more guidance.</p>
  <h2>Irregular conjugations</h2>
  <p>It should be noted that there are a number of irregularly conjugated verbs, which also happen to be some of the
    most common verbs in the Spanish language. These verbs are conjugated slightly differently to the regular verbs,
    which is what is shown in this post.</p>
  <p>To see how these verbs are each conjugated, you can check out our conjugation guides to <a
      href="https://www.clozemaster.com/blog/estar-conjugation-in-spanish/" target="_blank"
      rel="noopener"><strong>estar</strong></a>, <a href="https://www.clozemaster.com/blog/ser-conjugation-in-spanish/"
      target="_blank" rel="noopener"><strong>ser</strong></a>, <strong><a
        href="https://www.clozemaster.com/blog/spanish-tener-expressions/" target="_blank"
        rel="noopener">tener</a></strong>, <strong><a href="https://www.clozemaster.com/blog/spanish-verb-traer/"
        target="_blank" rel="noopener">traer</a></strong>, <a
      href="https://www.clozemaster.com/blog/dar-conjugation-in-spanish/" target="_blank"
      rel="noopener"><strong>dar</strong></a>, <a href="https://www.clozemaster.com/blog/spanish-ir-conjugation/"
      target="_blank" rel="noopener"><strong>ir</strong></a>, <strong><a
        href="https://www.clozemaster.com/blog/spanish-verb-poder/" target="_blank" rel="noopener">poder</a></strong>,
    and&nbsp;<a href="https://www.clozemaster.com/blog/spanish-verb-poner/" target="_blank"
      rel="noopener"><strong>poner</strong></a>.</p>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <h2>Learn Spanish tenses in context with Clozemaster</h2>
          <p><strong>Clozemaster&nbsp;</strong>has been designed to help you learn the language in context by filling in
            the gaps in authentic sentences. With&nbsp;features such as Grammar Challenges, Cloze-Listening, and
            Cloze-Reading, the app will let you emphasize all the competencies necessary to become fluent in Spanish.
          </p>
          <p><strong><a href="https://www.clozemaster.com/languages/learn-spanish-online" target="_blank"
                rel="noopener">Take your Spanish tenses to the next level. Click here to start practicing with real
                Spanish sentences!</a></strong></p>
        </td>
      </tr>
    </tbody>
  </table>



</div>